.disabledLayer {
  pointer-events: none;
  opacity: 0.4;
}

.ql-button-container>button:nth-child(2) {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.ql-migration-list-item>span:nth-child(3) {
  font-size: 1rem;
}

.fa-blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}